<template name="historicalStatsSection">

    <section class="content">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header gradientbg">Estadisticas Historicas</h1>
            </div>
        </div>

        <div class="row">
    
            <div class="col-xs-12">
                <div class="filterbox">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <p>Desde:</p>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" value="01-03-2016" id="datepicker-from-community">
                            </div>
                        </div><!-- /.col-xs-3 -->
                        <div class="col-md-3 col-lg-3">
                            <p>Hasta:</p>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" value="31-03-2016" id="datepicker-to-community">
                            </div>
                        </div><!-- /.col-xs-3 -->
                        <div class="col-md-1">
                            <p class="hidden-xs">&nbsp;</p>
                            <!-- <p style="text-align: center; margin: 0px 0px 5px 0px"><button class="btn btn-default update-date-btn" id="update-date-community" section-name="community">Actualizar</button></p> -->

                            <p style="text-align: center; margin: 0px 0px 5px 0px"><button class="btn btn-default update-date-btn connectHistorical" id="update-date-historical" section-name="historical">Actualizar</button></p>
                        </div><!-- /.col-xs-1 -->

                        <div class="col-md-3 col-md-offset-2">
                            <p>Redes:</p>
                            <p class="socialicons" style="margin-bottom: 25px;">
                                <a href="#twitterhistoric" aria-controls="twitterhistoric" role="tab" data-toggle="tab" class="community-networks" network="twitterhistoric"><i class="fa fa-twitter-square color"></i></a>
                                <a href="#instagramhistoric" aria-controls="instagramhistoric" role="tab" data-toggle="tab" class="community-networks" network="instagramhistoric"><i class="fa fa-instagram"></i></a>
                            </p>
                            <div class="clearfix"></div>

                        </div><!-- /.col-xs-3 -->

                    </div><!-- /.row -->
                </div><!-- /.filterbox -->
                
            </div><!-- /.col-xs-12 -->
        </div><!-- /.row filtro-fecha -->

        <!-- TWITTER -->
        
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="twitterhistoric">
                    <div class="row historical-info" id="historical-twitter">
            <div class="col-md-12 col-lg-8 hidden">
                <div class="row social-statistics">
                    <div class="col-sm-4">
                        <p>
                            <i class="fa fa-twitter"></i> <span id="historical-chart-statuses">552</span> Tweets total
                        </p>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <p>
                            <i class="fa fa-users"></i> <span id="historical-chart-followers">24</span> Followers total
                        </p>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <p>
                            <i class="fa fa-star"></i> <span id="historical-chart-favorites">55</span> Favs total
                        </p>
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
                <!-- <div class="chat-panel panel panel-default">
                    <div class="panel-body">

                        <div style="height:300px;"></div>

                    </div>
                </div> -->
            </div><!-- /.col-xs-8 -->
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 stats-twitter">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Twitter</h2><!-- /.social tw -->
                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                           <div class="col-md-12 col-lg-12 visible-lg">
                            <div class="chartbox profile interestbox topfollowers">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="page-header gradientbg">Evolucion Historica</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{> lineDemo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="chartbox sm single-number">
                                    <p class="sm">
                                        <i class="fa fa-users"></i> 
                                        +<span id="data-historical-followers">
                                                {{datatwitter.profileHistorical.[0].HistoricalData.[0].followers_count}}
                                        </span> | +
                                        <span id="data-historical-following">
                                            5*
                                        </span>
                                     </p>
                                    <h3>Seguidores | Seguidos</h3>
                                </div><!-- /.chartbox -->
                            </div><!-- /.col-xs-6 -->
                            <div class="col-xs-6">
                                <div class="chartbox sm single-number">
                                    <p class="sm"><i class="fa fa-star"></i> +<span id="data-historical-favs">{{datatwitter.profileHistorical.[0].HistoricalData.[0].favorites_count}}
                                        </span></p>
                                    <h3>Favs</h3>
                                </div><!-- /.chartbox -->

                            </div><!-- /.col-xs-6 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chartbox sm single-number" style="margin-bottom: 20px;">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p><i class="fa fa-twitter"></i> +<span id="data-historical-tweets">552*</span></p>
                                            <h3>Tweets</h3>
                                        </div><!-- /.col-xs-6 -->
                                        <div class="col-xs-6">
                                            <p><i class="fa fa-list"></i> +<span id="data-historical-listed">{{datatwitter.profileHistorical.[0].HistoricalData.[0].listed_count}}</span></p>
                                            <h3>
                                            </h3>
                                        </div><!-- /.col-xs-6 -->

                                    </div><!-- /.row -->
                                </div><!-- /.chartbox -->
                            </div><!-- /.col-xs-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.col-xs-4 -->
                    
                </div><!-- /.row -->

            </div><!-- /.col-xs-4 -->

            <div class="col-md-6 col-lg-4">
                <div class="row visible-md">
                    <div class="col-xs-12">
                        <h2>&nbsp;</h2><!-- /.social tw -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="chartbox sm single-number day-time">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p class="icon"><i class="fa fa-calendar"></i></p>
                                </div><!-- /.col-xs-4 -->
                                <div class="col-xs-8">
                                    <p id="data-historical-bestday">
                                        <!-- {{#if datatwitter.profileHistorical}}
                                            {{datatwitter.profileHistorical.BestDayAndHour[0].BestDayOfWeek}}
                                        {{/if}} -->
                                        {{day}}
                                    </p>
                                    <h3>Mejor día para publicar</h3>
                                </div><!-- /.col-xs-8 -->
                            </div><!-- /.row -->
                        </div><!-- /.chartbox -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="chartbox sm single-number day-time" style="margin-bottom: 20px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p class="icon"><i class="fa fa-clock-o"></i></p>
                                </div><!-- /.col-xs-4 -->
                                <div class="col-xs-8">
                                    <p id="data-historical-besthour">
                                        <!-- {{#if datatwitter.profileHistorical}}
                                        {{datatwitter.profileHistorical.BestDayAndHour[0].BestHour}}{{/if}} -->
                                        {{hour}}
                                    </p>
                                    <h3>Mejor hora para publicar</h3>
                                </div><!-- /.col-xs-8 -->
                            </div><!-- /.row -->
                        </div><!-- /.chartbox -->
                    </div><!-- /.col-xs-12 -->
                    
                </div><!-- /.row -->

            </div><!-- /.col-xs-3 -->

            <div class="col-md-4 col-lg-4">
                <div class="chartbox profile interestbox">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="page-header gradientbg">Top Hashtags</h3>
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row" id="historical-hashtags-cont">
                                
                                    <div class="col-xs-6"><p>1 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[0].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>2 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[1].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>3 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[2].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>4 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[3].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>5 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[4].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>6 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[5].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>7 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[6].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>8 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[7].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>9 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[8].Hashtag}}</p></div>
                                    <div class="col-xs-6"><p>10 - {{datatwitter.profileHistorical.[0].Top10Hashtags.[9].Hashtag}}</p></div>
                               
                            </div><!-- /.row -->


                        </div><!-- /.col-xs-8 col-xs-offset-2 -->

                    </div><!-- /.row -->
                </div><!-- /.chartbox -->
                <!-- /.panel -->
            </div><!-- /.col-sm-6 -->

            <div class="col-md-4 col-lg-4">
                <div class="chartbox profile interestbox interestbrands">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="page-header gradientbg">Top Marcas</h3>
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row" id="historical-brands-cont">
                           
                                    <div class="col-xs-6"><p>1 - {{datatwitter.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                    <div class="col-xs-6"><p>2 - {{datatwitter.profileHistorical.[0].Top10Brands.[1].Marca}}</p></div>
                                    <div class="col-xs-6"><p>3 - {{datatwitter.profileHistorical.[0].Top10Brands.[2].Marca}}</p></div>
                                    <div class="col-xs-6"><p>4 - {{datatwitter.profileHistorical.[0].Top10Brands.[3].Marca}}</p></div>
                                    <div class="col-xs-6"><p>5 - {{datatwitter.profileHistorical.[0].Top10Brands.[4].Marca}}</p></div>
                                    <div class="col-xs-6"><p>6 - {{datatwitter.profileHistorical.[0].Top10Brands.[5].Marca}}</p></div>
                                    <div class="col-xs-6"><p>7 - {{datatwitter.profileHistorical.[0].Top10Brands.[6].Marca}}</p></div>
                                    <div class="col-xs-6"><p>8 - {{datatwitter.profileHistorical.[0].Top10Brands.[7].Marca}}</p></div>
                                    <div class="col-xs-6"><p>9 - {{datatwitter.profileHistorical.[0].Top10Brands.[8].Marca}}</p></div>
                                    <div class="col-xs-6"><p>10 - {{datatwitter.profileHistorical.[0].Top10Brands.[9].Marca}}</p></div>
                               
                            </div><!-- /.row -->
                        </div><!-- /.col-xs-8 col-xs-offset-2 -->

                    </div><!-- /.row -->
                </div><!-- /.chartbox -->
                <!-- /.panel -->
            </div><!-- /.col-sm-6 -->

            <div class="col-md-4 col-lg-3 hidden">
                <div class="chartbox profile">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="page-header gradientbg">Nube de palabras</h3>
                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div id="theCloud" class="theCloud"></div><!-- /#theCloud.theCloud -->
                            
                        </div><!-- /.row -->
                        
                    </div><!-- /.col-xs-12 -->
                </div>
            </div>

        </div><!-- /.row -->
        </div>
      
<div>
                </div>

                <div role="tabpanel" class="tab-pane" id="instagramhistoric">
                    <div class="col-md-6 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 stats-twitter">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <h2>Instagram</h2><!-- /.social tw -->
                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="chartbox sm single-number">
                                    <p class="sm"><i class="fa fa-users"></i> +<span id="data-historical-followers">{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</span> | +<span id="data-historical-following">{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</span></p>
                                    <h3>Seguidores | Seguidos</h3>
                                </div><!-- /.chartbox -->
                            </div><!-- /.col-xs-6 -->
                            <div class="col-xs-6">
                                <div class="chartbox sm single-number">
                                    <p class="sm"><i class="fa fa-star"></i> +<span id="data-historical-favs">{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</span></p>
                                    <h3>Favs</h3>
                                </div><!-- /.chartbox -->

                            </div><!-- /.col-xs-6 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chartbox sm single-number" style="margin-bottom: 20px;">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p><i class="fa fa-twitter"></i> +<span id="data-historical-tweets">{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</span></p>
                                            <h3>Tweets</h3>
                                        </div><!-- /.col-xs-6 -->
                                        <div class="col-xs-6">
                                            <p><i class="fa fa-list"></i> +<span id="data-historical-listed">{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</span></p>
                                            <h3>Listas</h3>
                                        </div><!-- /.col-xs-6 -->

                                    </div><!-- /.row -->
                                </div><!-- /.chartbox -->
                            </div><!-- /.col-xs-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.col-xs-4 -->
                    
                </div><!-- /.row -->

            </div>
            <div class="col-md-6 col-lg-4">
                <div class="row visible-md">
                    <div class="col-xs-12">
                        <h2>&nbsp;</h2><!-- /.social tw -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="chartbox sm single-number day-time">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p class="icon"><i class="fa fa-calendar"></i></p>
                                </div><!-- /.col-xs-4 -->
                                <div class="col-xs-8">
                                    <p id="data-historical-bestday">{{dayinsta}}</p>
                                    <h3>Mejor día para publicar</h3>
                                </div><!-- /.col-xs-8 -->
                            </div><!-- /.row -->
                        </div><!-- /.chartbox -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="chartbox sm single-number day-time" style="margin-bottom: 20px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p class="icon"><i class="fa fa-clock-o"></i></p>
                                </div><!-- /.col-xs-4 -->
                                <div class="col-xs-8">
                                    <p id="data-historical-besthour">{{hourinsta}}</p>
                                    <h3>Mejor hora para publicar</h3>
                                </div><!-- /.col-xs-8 -->
                            </div><!-- /.row -->
                        </div><!-- /.chartbox -->
                    </div><!-- /.col-xs-12 -->
                    
                </div><!-- /.row -->

            </div>
            <div class="col-md-4 col-lg-4">
                <div class="chartbox profile interestbox">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="page-header gradientbg">Top Hashtags</h3>
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row" id="historical-hashtags-cont">
                                <div class="col-xs-12"><p>1 - #{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>2 - #{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>3 - #{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>4 - #{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>5 - #{{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                            </div><!-- /.row -->


                        </div><!-- /.col-xs-8 col-xs-offset-2 -->

                    </div><!-- /.row -->
                </div><!-- /.chartbox -->
                <!-- /.panel -->
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="chartbox profile interestbox interestbrands">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="page-header gradientbg">Top Marcas</h3>
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row" id="historical-brands-cont">
                                <div class="col-xs-12"><p>1 - {{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>2 - {{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>3 - {{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>4 - {{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                                <div class="col-xs-12"><p>5 - {{datainstagram.profileHistorical.[0].Top10Brands.[0].Marca}}</p></div>
                            </div><!-- /.row -->
                        </div><!-- /.col-xs-8 col-xs-offset-2 -->

                    </div><!-- /.row -->
                </div><!-- /.chartbox -->
                <!-- /.panel -->
            </div>
                </div>
            </div>

        <!-- END TWITTER -->
        <div class="row">
            <div class="col-xs-12">
                <hr class="gradientbg" />
            </div><!-- /.col-xs-12 -->
        </div>

    </section>

</template>