<template name="homeInfluencer">

	<!-- seccion 2 -->

	<section class="content statistics">
        
        <div class="row statistics">
        	<div class="col-md-12 col-lg-12">

        		<div class="row" style="background: #000053;margin-left:0;margin-right:0;">
        			<h2 class="col-md-5 pull-left" style="color:white;">Estadísticas</h2>

        			<div class="col-md-6 pull-right" style="padding: 15px;color:white;">
        				<span class="pull-right">
							{{  # if user.services.twitter.screenName }}
							<i class="fa fa-twitter-square color" style="color: #009999;font-size: 30px;"></i>
							{{ else }}
							<i class="fa fa-twitter-square color" style="font-size: 30px;"></i>
							{{ /if }}
							{{ # if user.services.instagram }}
							<i class="fa fa-instagram" style="color: #009999;font-size: 30px;"></i>
							{{ else }}
							<i class="fa fa-instagram" style="font-size: 30px;"></i>
							{{ /if }}
							<i class="fa fa-facebook-official color" style="font-size: 30px;"></i>
							<i class="fa fa-linkedin-square" style="font-size: 30px;"></i>
						</span>
        			</div>
        		</div>

        		<div class="row">
	        		<div class="chartboxh2 hidden">
	        			<h2>Estadísticas</h2>
	        		</div>
	        		<div class="row title-social">
	        				<div class="col-xs-6 col-md-6 chartboxtitleleft">
			        			<h2>Twitter</h2>
			        		</div>
			        		<div class="col-xs-6 col-md-6 chartboxtitleright">
			        			<h2>Instagram</h2>
			        		</div>
			        </div>
        	<!-- 	 <span class="pull-right">
        		 
		        			 <button type="submit" class="btn btn-default sm testregister"><i class="ion-refresh"><h4>Registro de Usuario </h4></i></button>
		        </span> -->
        		{{ # if datatwitter.screenname}}
        			<!-- TWITTER -->
		        	<div class="col-xs-6 col-md-6">
		        		<!-- <div class="row">
		        			<div class="col-xs-12"> -->
		        			<!--  <span class="pull-right">
		        			 <button type="submit" class="btn btn-premium sm twconnect"><i class="fa fa-twitter"></i></button>
		        			 <button type="submit" class="btn btn-premium sm sincTwitter"><i class="ion-refresh"></i></button>
		        			 </span>
		        			 <span class="pull-right">
		        			 <button type="submit" class="btn btn-premium sm test"><i class="ion-help"></i></button>
		        			 </span> -->
		        			
		        				<!-- {{ # if lastupdatetw}}<h5>Última Actualización: {{ lastupdatetw }}</h5>{{/if}} -->

		        				<!-- /.social tw -->
		        		<!-- 	</div>
		        		</div> -->
		        		<div class="row">
				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome">Mi Perfil</h2>
				        			<p class="sm"><i class="fa fa-users sizelogo"></i>
					        			<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-followers">
						        				{{ datatwitter.profilestatistics.[0].qtyfollowers }}
						        			</span>
						        			<h3>Seguidores</h3>
						        		</div>

						        		<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-following">
						        				{{ datatwitter.profilestatistics.[0].qtyfollowing }}
						        			</span>
						        			<h3>Seguidos</h3>
						        		</div>
				        			</p>
				        			
				        			
				        		</div><!-- /.chartbox -->
				        	</div><!-- /.col-xs-6 -->

				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome">Mis Acciones</h2>
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><i class="fa fa-star sizelogo"></i> 
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datatwitter.profilestatistics.[0].qtyfavorites }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Favs</h3>
			        				</div><!-- /.col-xs-6 -->
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><i class="fa fa-retweet sizelogo"></i>
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					
						        				{{ datatwitter.profilestatistics.[0].qtyretweets }}

						        				</span>
						        			</div>
					        			</p>
					        			<h3>RTs</h3>
			        				</div><!-- /.col-xs-6 -->
			        			</div><!-- /.row -->
			        		</div><!-- /.chartbox -->



				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome" style="font-size:16px;">Tipo de Contenido</h2>
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><i class="fa fa-twitter sizelogo"></i> 
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datatwitter.profilestatistics.[0].qtytweets }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Tweets</h3>
			        				</div><!-- /.col-xs-6 -->
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><i class="fa fa-picture-o sizelogo"></i>
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datatwitter.profilestatistics.[0].qtytweets }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Imagenes</h3>
			        				</div><!-- /.col-xs-6 -->
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><i class="fa fa-video-camera sizelogo"></i> 
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datatwitter.profilestatistics.[0].qtytweets }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Videos</h3>
			        				</div><!-- /.col-xs-6 -->
			        			</div><!-- /.row -->
			        		</div><!-- /.chartbox -->
			        	</div><!-- /.col-xs-6 -->

	        		</div><!-- /.row -->
		        	
		        	{{else}}
		        	<div class="col-xs-12">
		        		<div class="row">
		        			<div class="col-xs-12">
		        				<h2>Twitter</h2>
		        			</div>
		        		</div>
		        		<div class="row">
			        	 <div class="col-xs-12 col-md-12">
			        		<div class="chartbox sm single-number">
			        			<p><i class="fa fa-twitter" style="color: #000053;"></i> <span id="data-facebook-fans"><button type="submit" class="btn btn-premium sm twconnect">Conectar</button></span></p>
			        			<h3></h3>
			        		</div>
			        	</div>
			        	</div>		
					 </div>
		        	{{/if}}
		   			
		   			{{ # if datainstagram.screenname}}

		   			<!-- New version -->

		   			<!-- INSTAGRAM -->
		        	<div class="col-xs-6">
	        			<div class="row hidden">
		        			<div class="col-xs-12">
		        			<span class="pull-right">
			        			<button type="submit" class="btn btn-premium sm instaconnect">
			        				<i class="fa fa-instagram"></i>
			        			</button>
			        			<button type="submit" class="btn btn-premium sm sincInstagram">
			        				<i class="ion-refresh"></i>
			        			</button>
		        			</span>
		        				<h2>Instagram</h2>{{ # if lastupdateinsta}}<h5>Última Actualización: {{ lastupdateinsta }}</h5>{{/if}}
		        			</div><!-- /.col-xs-12 -->
		        		</div><!-- /.row -->

		        		<div class="row">

				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome">Mi Perfil</h2>
				        			<p class="sm"><i class="fa fa-users sizelogo"></i>
					        			<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-followers">
						        				{{ datainstagram.profilestatistics.[0].qtyfollowers }}
						        			</span>
						        			<h3>Seguidores</h3>
						        		</div>

						        		<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-following">
						        				{{ datainstagram.profilestatistics.[0].qtyfollowing }}
						        			</span>
						        			<h3>Seguidos</h3>
						        		</div>
				        			</p>
				        		</div><!-- /.chartbox -->
				        	</div><!-- /.col-xs-6 -->

				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome">Mis Acciones</h2>
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><i class="fa fa-heart sizelogo"></i> 
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datainstagram.profilestatistics.[0].qtylikes }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Likes</h3>
			        				</div><!-- /.col-xs-6 -->
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><i class="fa fa-retweet sizelogo"></i>
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					
						        				{{ # if datainstagram.profilestatistics.[0].qtyretweets}}

					        						{{ datainstagram.profilestatistics.[0].qtyretweets}}

					        					{{else}}
					        					
					        						0

					        					{{/if}}

						        				</span>
						        			</div>
					        			</p>
					        			<h3>RTs</h3>
			        				</div><!-- /.col-xs-6 -->
			        			</div><!-- /.row -->
			        		</div><!-- /.chartbox -->


				        	<div class="col-xs-12 col-md-4 hidden">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome" style="margin-bottom: 0px;font-size:16px;">Tipo de Contenido</h2>
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><i class="fa fa-twitter sizelogo"></i> 
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datatwitter.profilestatistics.[0].qtytweets }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Tweets</h3>
			        				</div><!-- /.col-xs-6 -->
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><i class="fa fa-picture-o sizelogo"></i>
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datatwitter.profilestatistics.[0].qtytweets }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Imagenes</h3>
			        				</div><!-- /.col-xs-6 -->
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><i class="fa fa-video-camera sizelogo"></i> 
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datatwitter.profilestatistics.[0].qtytweets }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Videos</h3>
			        				</div><!-- /.col-xs-6 -->
			        			</div><!-- /.row -->
			        		</div><!-- /.chartbox -->


			        		<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome" style="font-size:16px;">Tipo de Contenido</h2>
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><i class="fa fa-instagram sizelogo"></i> 
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ datainstagram.profilestatistics.[0].qtyfeeds }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Posts</h3>
			        				</div><!-- /.col-xs-6 -->
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><i class="fa fa-picture-o sizelogo"></i>
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ # if datainstagram.profilestatistics.[0].images}}

						        						{{ datainstagram.profilestatistics.[0].images}}

						        					{{else}}
						        					
						        						0

						        					{{/if}}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Imagenes</h3>
			        				</div><!-- /.col-xs-6 -->
			        			</div><!-- /.row -->
			        		</div><!-- /.chartbox -->

			        	</div><!-- /.col-xs-6 -->

		        	</div>

		        	<!-- End new version -->

					<!-- INSTAGRAM  -->
		        	<div class="col-xs-12 hidden">
	        			<div class="row">
		        			<div class="col-xs-12">
		        			<span class="pull-right">
		        			<button type="submit" class="btn btn-premium sm instaconnect"><i class="fa fa-instagram"></i></button>
		        			 <button type="submit" class="btn btn-premium sm sincInstagram"><i class="ion-refresh"></i></button>
		        			 </span>
		        				<h2>Instagram</h2>{{ # if lastupdateinsta}}<h5>Última Actualización: {{ lastupdateinsta }}</h5>{{/if}}
		        			</div><!-- /.col-xs-12 -->
		        		</div><!-- /.row -->
		        		<div class="row">
				        	<div class="col-xs-6 col-md-4">
				        		<div class="chartbox sm single-number">
				        			<p class="sm"><i class="fa fa-users"></i> {{ datainstagram.profilestatistics.[0].qtyfollowers }} | {{ datainstagram.profilestatistics.[0].qtyfollowing }}</p>
				        			<h3>Seguidores | Seguidos</h3>
				        		</div><!-- /.chartbox -->
				        	</div><!-- /.col-xs-3 -->
				        	<div class="col-xs-6 col-md-3">
				        		<div class="chartbox sm single-number">
				        			<p><i class="fa fa-heart"></i> {{ # if datainstagram.profilestatistics.[0].qtylikes }}{{ datainstagram.profilestatistics.[0].qtylikes }}{{else}}0{{/if}}</p>
				        			<h3>Likes</h3>
				        		</div><!-- /.chartbox -->

				        	</div><!-- /.col-xs-3 -->
				        	<div class="col-xs-12 col-md-5">
				        		<div class="chartbox sm single-number">
				        			<div class="row">
				        				<div class="col-xs-6">
						        			<p><i class="fa fa-instagram"></i> {{ datainstagram.profilestatistics.[0].qtyfeeds }}</p>
						        			<h3>Publicaciones</h3>
				        				</div><!-- /.col-xs-6 -->
				        				<div class="col-xs-6 mediabox">
				        					<div class="row">
				        						<div class="col-xs-12">
				        							<p><i class="fa fa-video-camera"></i> <span id="data-total-text">{{ # if datainstagram.profilestatistics.[0].videos }}{{ datainstagram.profilestatistics.[0].videos }}{{else}}0{{/if}}</span></p>
				        						</div><!-- /.col-xs-12 -->
				        						<div class="col-xs-12">
				        							<p><i class="fa fa-picture-o"></i> <span id="data-total-picture">{{ # if datainstagram.profilestatistics.[0].images}}{{ datainstagram.profilestatistics.[0].images}}{{else}}0{{/if}}</span></p>
				        						</div><!-- /.col-xs-12 -->
				        					</div><!-- /.row -->
				        					<div class="row">
				        						<div class="col-xs-12">
						        					<h3>Tipo de contenidos</h3>
				        							
				        						</div><!-- /.col-xs-12 -->
				        					</div><!-- /.row -->
				        					
				        				</div><!-- /.col-xs-6 -->
				        			</div><!-- /.row -->
				        		</div><!-- /.chartbox -->
				        	</div><!-- /.col-xs-6 -->
		        		</div><!-- /.row -->
		        	</div><!-- /.col-xs-4 -->
					{{ else }}

					<div class="col-xs-12">
		        		<div class="row">
		        			<div class="col-xs-12">
		        				<h2>Instagram</h2>
		        			</div>
		        		</div>
		        		<div class="row">
				        	<div class="col-xs-12 col-md-12">
				        		<div class="chartbox sm single-number">
				        			<p><i class="fa fa-instagram" style="color: #000053;"></i> <span id="data-facebook-fans"><button type="submit" class="btn btn-premium sm instaconnect">Conectar</button></span></p>
				        			<h3></h3>
				        		</div>
				        	</div>
			        	</div>		
					 </div>

					{{ /if }}
				
					
			 	</div><!-- /.row -->
        	</div><!-- /.col-xs-6 -->
      
                            <!-- <div class="col-xs-9">
                                <p>12 Resultados de búsqueda</p>
                            </div>
                        </div><
                        <div class="row">
                            <div class="col-xs-1 col-xs-offset-1">
                                <i class="fa fa-star fa-fw"></i>
                            </div>
                            <div class="col-xs-9">
                                <p>3 recomendaciones de patrocinio</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <a class="btn-premium" href="">Consigue tu Reporte Premium<br />y ve el listado completo</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
               

        	</div>


			<div class="col-xs-4 visible-lg">
				<div class="row audiencia-cont">
					
		            <div class="col-xs-12">
		                <div class="row">
		                	<div class="col-xs-12">
		                		<div class="donut-graph donut-followers" id="donut-followers">

		                            <div class="row">
		                                <div class="col-xs-12">
		                                    <h3 class="page-header gradientbg" style="margin-top: 0;">Distribución de puntaje</h3>
		                                </div>
		                            </div>

		                            <div class="row">
		                            	<div class="col-xs-12">
		                					<div id="donut-followers-int" style="height: 230px;">

		                						{{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=pieDemo}}

		                					</div>
		                            	</div>
		                            </div>

		                		</div>
		                	</div>
		                </div>

		        		<div class="row">
		        			<div class="col-xs-12">
		        				<div class="donut-summary">
				        			<div class="col-lg-3 single-number">
				        				<p>LI<b>13%</b></p>
				        			</div>
				        			<div class="col-lg-3 single-number">
				        				<p>IG<b>38%</b></p>
				        			</div>
				        			<div class="col-lg-3 single-number">
				        				<p>FB<b>25%</b></p>
				        			</div>
				        			<div class="col-lg-3 single-number">
				        				<p>TW<b>24%</b></p>
				        			</div>
		        					
		        				</div>
		        			</div>
		        		</div>


		            </div>
				</div> -->
			</div><!-- /.col-xs-3 -->
			</section>

	{{> historicalStatsSection}}

    {{> myCommunitySection}}	
	
	

	<!-- {{> myProfileSection}}	

    {{> myActiveCampaignsSection}} -->

</template>
<template name="exampleModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">¡Bienvenido a Eglow!</h4>
                </div>

                <div class="modal-body">

                    <p>¡Nos interesa mantenerte al tanto de propuestas de distintas Marcas, dejanos tu E-mail y te contactaremos muy pronto. Mientras tanto revisa toda la info de tu perfil!</p>
									   
									    {{#autoForm id="profileintro" type="insert" collection="Profile"}}
									  	<fieldset>
									      <legend></legend>
						
									      {{> afQuickField name='emailaccount'}}
				
									    <!--    {{> afQuickField name='twitteracccount'}}
									      {{> afQuickField name='instagramaccount'}} -->
									      <span style="display: none">
									      {{> afQuickField name='userId' value=user._id}} 
									      </span>
									    </fieldset>
									     <p>
									    <button type="submit" class="btn btn-premium sm intro">Actualizar</button>
									    </p>
									  {{/autoForm}}

                </div>

           <!--      <div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div> -->

            </div>
        </div>
    </div>
</template>